body{
    background-color: #393E46;
    text-align: center;
}
.container{
    margin: auto;
    width: 70%;
    text-align: center;
}
h1{
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
    margin-top:30px;
    padding: 0px;
}
p{
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}
.dice{
    display: inline-block;
    margin: 0px;
    padding-top: 0;
}
img{
    width: 80%;
}
footer{
    color: white;
    font-family: 'Indie Flower', cursive;
    margin: 5%;
}